body {
   font-family: Helvetica, Arial, sans-serif;
   font-size: small;
   font-color: #000;
   background:lightgrey;
   overflow-y: scroll;
}
a:link, a:active, a:visited {
   color: #CD0000;
}
p { 
background:white
   	width:90%;
}
li {
	list-style:none;
	vertical-align:middle;
}
li.environment {
	background:white;
}
li.application {
	background:white;
}
li.newitem {
	background:white;
}
input#new_app_name{
	width:80%;
	margin-bottom:4px;
	value:"Add Application";
}
input{
	background: white;
	border: 1px solid lightgrey;
	overflow:hidden;
}
img
{  border-style: none;
}
img.appedit{
	margin-right:5px;
}
table.keyvalue {
	width:100%;
	table-layout:fixed;
	white-space:normal;
	overflow:hidden;
	border-width: 0px;
	padding: 2px;
	border-style: hidden ;
	border-color: gray;
	-moz-border-radius: 0px;
}
tr.keyvalueheader {
	background-color:grey;
	width:80%;
}
tr.tr-0 {
	background-color: white;
	overflow:hidden;
	width:80%;
}
tr.tr-1 {
	background-color: gainsboro;
	overflow:hidden;
	width:80%;
}
div#outer{
	height:100%;
	width:100%;
	align:center;
	background:lightgrey;
}
div#inner {
   position:relative;
   width: 90%;
   height:650px;
	background:white;
	margin-left:auto;
	margin-right:auto;
}
div#header {
   top:50%; 
   height:95px; 
   text-align: center;
   background:white;
}
div#left {
   position:absolute;
   top:109px;
   width: 30%;
   height:70%;
   background:white;
overflow-y:none;
}
div#right {
   position:absolute;
   top:109px;
   right:0px;
   width:70%;
   height:80%;
   background:white;
}
div#side-header {
   background:white;
   height:30px;
}
div#sidebar {
   background:white;
   height:100%;
   width:100%;
	margin-left:0px;
}
div#editor {
	background:white;
	margin-left:30px;
}
div#new_key {
	background:white;
	margin-left:30px;
}
div#footer {
	position:relative;
	background:white;
	margin-left:auto;
	margin-right:auto;
   color:black ;
   width:90%;
   background:grey;
   align:center;
}

div#hidden {
   display: none;
}
.application_list {
    font-size: medium;
    font-weight: normal;
}
.environment_list {
    font-size: large;
    font-weight: bold;
}
